.main{
  background: $white;
}

.main-inner{
  margin: 0 auto;
  height: 100%;
}

.frame-main-inner{
  padding: 20px;
}

.main-title{
  font-size: 28px;
  font-weight: 300;
}

.main-sub-title{
  font-size: 24px;
  font-weight: 300;
}

.top-list-item{
  list-style-position: inside;
  padding: 0 20px;
}

@include pc{
  .main-inner{
    padding: 30px 50px;
  }
}
