.side{
  background: rgb(243,243,243);
  object-fit: cover;
  background-size: cover;
  .side-inner{
    margin: 0 auto;
    padding: 30px 20px;
    .side-title{
      font-size: 24px;
      font-weight: 300;
    }
    .side-sub-title{
      margin-top: 25px;
      margin-bottom: 25px;
      font-size: 20px;
      font-weight: 700;
    }
  }
  .side-list{
    list-style: none;
    .side-list-item{
      margin: 0 10px;
      padding: 10px 20px;
      &:hover{
        background: rgb(230,230,230);
        border-left: 5px solid $dark;
      }
    }
  }
  .side-footer-inner{
    padding: 20px;
    background: rgb(200,200,200);
    font-size: 16px;
  }
}
@include pc{
  .pc-side{
    display: block;
  }
  .side-footer{
    position: absolute;
    bottom: 0;
    width: inherit;
  }
}
@include tb{
  .pc-side{
    display: none;
  }
  .mobile-side{
    width: 100%;
    .side-inner{
      padding: 10px 20px;
      .side-sub-title{
        margin: 20px 0;
        font-size: 20px;
        font-weight: 700;
      }
    }
  }
  .side-footer{
    position: relative;
    width: inherit;
  }
}
@include sp{
  .pc-side{
    display: none;
  }
  .mobile-side{
    width: 100%;
    .side-inner{
      padding: 10px 20px;
      .side-sub-title{
        margin: 20px 0;
        font-size: 20px;
        font-weight: 700;
      }
    }
  }
  .side-footer{
    position: relative;
    width: inherit;
  }
}
