table{
  margin: 20px 0;
  width: 100%;
}

table , th , td{
  border: 1px solid $dark;
  border-collapse: collapse;
  line-height: 2.5;
  text-align: center;
}

thead th {
  background: $dark;
  color: $white;
}

@include pc{
  .w-50{
    width: 50%;
  }
}
@include sp{
  tr {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  th {
    width: 100%;
    background: $dark;
    color: $white;
  }
}
