table{
  margin: 20px 0;
  width: 100%;
}

table , th , td{
  border: 1px solid;
  border-collapse: collapse;
  line-height: 2.5;
  text-align: center;
}

thead th {
  background: #333;
  color: white;
}

.w-50{
  width: 50%;
}
